.wrapper.create {
  color: #0c0c0c;
  width: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  .wrapper_inner {
    width: 100%;
    max-width: 40vw;
    min-height: 40vh;
    padding: 0 2em;
    border-radius: 12px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    background-color: #d3d3d3;

    &>.heading {
      display: flex;
      flex-flow: row nowrap;
      align-items: baseline;
      gap: 1rem;

      h1 {
        text-align: center;
      }

      a {
        font-size: 0.75rem;
        font-style: italic;
      }
    }

    form {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      gap: 1rem;
      width: 100%;

      input {
        width: 100%;
      }

      button {
        width: 100%;
      }
    }
  }
}
