body {
  color: #0c0c0c;
  width: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

.wrapper {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  & > .heading {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    gap: 1rem;

    h1 {
      text-align: center;
    }

    a {
      font-size: 0.75rem;
      font-style: italic;
    }
  }

  main,
  form {
    width: 100%;
  }

  main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;

    .article {
      background-color: #ededed;
      border-radius: 6px;
      width: 90%;
      padding: 0.5rem 1.5rem;

      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;

      .heading {
        display: flex;
        flex-flow: row wrap;
        align-items: baseline;
        gap: 1rem;

        .title {
          font-size: 2rem;
          font-weight: 700;
        }

        .date {
          font-size: 0.75rem;
          font-style: italic;
        }
      }
    }
  }
}
